div(class="header")
  div(class="header__container")
    div(class="header__container_logo")
      img(src=require("./img/logo.png"))

    div(class="header__container_menu")
      div(class=" header__container_menu-item opportunities") Возможности
      div(class=" header__container_menu-item tariffs") Тарифы 
      div(class="header__container_menu-item stages") Этапы внедрения
      div(class=" header__container_menu-item contacts") Контакты

    div(class="header__container_phones")
      div(class="header__container_phones_item") +7 (343)
        div(class="header__container_phones_big") 239-63-73
      div(class="header__container_phones_item") +7 (906)
        div(class="header__container_phones_big") 802-58-92
      button
        p(class="header__container_phones_button") Обратный звонок
